.account-header {
    width: 100%;
    background-color:  #63a8c5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: absolute;
    left: 0;
    top: 0;
}

.account-header__title {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

.account-header-btn--search-btn {
    margin-right: 20px;
}

.user-orders {
    width: 100%;
    background-color: rgba(0,0,0,.1);
    color: #fff;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10%;
    left: 0;
}

.user-orders__title {
    background-color: rgba(0,0,0,.1);
    color: #fff;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.user-orders__filters {
    display: flex;
    padding: 15px;
    justify-content: center;
}

.orders-filters-btn--past {
    margin-right: 10px;
}

.user-orders__list {
    background-color: rgba(0,0,0,.1);
    margin: 30px 0 0 0;
    padding: 20px 0;
}

.order-list__item-route,
.order-list__item-date,
.order-list__item-price,
.order-list__item-ticketType,
.order-list__item-tripType {
    margin-right: 10px;
}

.order-list__item:nth-of-type(even) {
    background-color: rgba(255,255,255,.3);
    color: #306d86;;
}

.order-list__item:hover {
    transition: color .2s linear;
    cursor: default;
}

.order-list__item {
    list-style: none;
    padding-left: 10px;
}

@media screen and (max-width: 425px) {
    .account-header__title {
        font-size: 17px;
    }
    
    .account-header-btn--search-btn {
        margin-right: 10px;
    }
}