.account-header {
    width: 100%;
    background-color:  #63a8c5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.account-header__title {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}

.account-header-btn--search-btn {
    margin-right: 20px;
}

.user-account {
    position: relative;
    height: 100vh;
    overflow-y: scroll;
}

.user-orders {
    width: 100%;
    color: #fff;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: 0;
}

.user-orders__title {
    color: #0d658a;
    padding: 15px;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.user-orders__filters {
    display: flex;
    padding: 15px;
    justify-content: center;
}

.orders-filters-btn--past {
    margin-right: 10px;
}

.user-orders__list {
    width: 90%;
    max-width: 1200px;
    margin: 30px auto 0 auto;
    background-color:rgba(255,255,255,.7);
    color:#000;
    padding: 0 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-orders__list--past .order-list__item--current{
    display: none;
}

.user-orders__list--current .order-list__item--past{
    display: none;
}

.order-list__item-route,
.order-list__item-date,
.order-list__item-price,
.order-list__item-ticketType,
.order-list__item-tripType {
    margin-right: 10px;
    grid-row: 1;
}

.order-list__item:hover {
    transition: color .2s linear;
    cursor: default;
}

.order-list__item {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    list-style: none;
    padding-left: 10px;
    font-size: 22px;
    width: 100%;
}

.order-list__item-route {
    grid-column: 1;
}

.order-list__item-date{
    grid-column: 2;
}

.order-list__item-price{
    grid-column: 3;
}

.order-list__item-ticketType{
    grid-column: 4;
}

.order-list__item-tripType{
    grid-column: 5;
}

.order-list__item-passNum {
    grid-column: 6; 
}

.button--order-list-item {
    display: none;
}

.order-list__item--past,
.order-list__item-current {
    display: grid;
}

.order-list__item--title {
    background-color: #0d658a;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}

.user-orders__notification {
    font-size: 26px;
    background: url(../../../assets/img/bubble-mask-light.png) repeat #fff;
    background-size: 300px auto;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: backgroundRise 12s infinite linear;
    font-weight: bold;
    margin-top: 20px;
}

@keyframes backgroundRise {
    0% {
      background-position: 0 0%; }
    100% {
      background-position: 0 -300px; } 
}

@media screen and (min-width: 1060px) {
    .order-list__item {
        grid-template-columns: 1fr 150px 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 992px) {
    .order-list__item {
        grid-template-columns: repeat(6,1fr);
        font-size: 18px;
    }

    .user-orders__title {
        font-size: 30px;
    }
}

@media screen and (max-width: 780px) {
    .order-list__item {
        grid-template-columns: repeat(4,1fr);
        font-size: 18px;
    }

    .order-list__item--title {
        font-size: 14px;
    }

    .order-list__item-date,
    .order-item-title--date {
        grid-column: 2/4;
    }
    
    .button--order-list-item {
        display: block;
        grid-column: 4; 
        justify-self: center;
    }

    .order-item-title--price,
    .order-item-title--ticketType,
    .order-item-title--tripType,
    .order-item-title--passNum {
        display: none;
    }
    .order-list__item-price,
    .order-list__item-ticketType,
    .order-list__item-tripType,
    .order-list__item-passNum {
       display:none;
    }

    .order-list__item--mob .order-list__item-price {
        display: block;
        grid-row: 2;
        grid-column: 1;
    }

    .order-list__item--mob .order-list__item-ticketType {
        display: block;
        grid-row: 2;
        grid-column: 2;
    }

    .order-list__item--mob .order-list__item-tripType {
        display: block;
        grid-row: 2;
        grid-column: 3;
    }

    .order-list__item--mob .order-list__item-passNum {
        display: block;
        grid-row: 2;
        grid-column: 4;
    }
}

@media screen and (max-width: 425px) {
    .account-header__title {
        font-size: 17px;
    }
    
    .account-header-btn--search-btn {
        margin-right: 10px;
    }

    .user-orders__notification {
        font-size: 22px;
    }

    .order-list__item {
        font-size: 14px;
    }
}

