.authorization__title {
    color: #fff;
}

.authorization {
    width: 90%;
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 400px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0,0,0,.1);
    box-shadow: 0 0 10px #63a8c5;
    border-radius: 10px;
    padding: 10px;
    overflow-y: scroll;
}

.authorization__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.inline-error {
    color: #ff0707;
    padding: 5px;
    font-weight: lighter;
    font-size: 14px;
    margin: 10px 0;
    opacity: 0;
    transition: opacity .2s linear;
}

.inline-error--show {
    opacity: 1;
    transition: opacity .2s linear;
}