.authorization__title {
    color: #fff;
}

.authorization {
    width: 90%;
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0,0,0,.3);
    box-shadow: 0 0 10px #000;
    border-radius: 10px;
    padding: 10px;
}

.authorization__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.authorization__form  .button{
    margin-top: 40px;
}

.inline-error {
    color: #fff;
    background-color: rgba(243,11,11,0.5);
    padding: 5px;
    font-weight: lighter;
    font-size: 14px;
    margin: 10px 0;
    opacity: 0;
    transition: opacity .2s linear;
}

.inline-error--show {
    opacity: 1;
    transition: opacity .2s linear;
}