.seat {
    width: 50px;
    height: 40px;
    border-radius: 10px;
    background-color: #b0e8f9;
    transition: all .2s linear;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.seat:last-of-type {
    margin-bottom: 0;
}

.seat--available:hover { 
    transition: all .2s linear;
    color: #fff;
    transform: scale(1.2);
}

.seat--available {
    background-color: #10c2fd;
    cursor: pointer;
}

.seat--booked {
    background-color: #306d86;
}

@media screen and (max-width: 425px) {
    .seat {
        width: 40px;
        height: 30px;
    }
}