.modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.modal--show{
    display: block;
}

/*REGISTRATION FORM STYLES*/
.modal-main--greeting {
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    height: auto;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.modal-greeting {
    width: 100%;
    background: linear-gradient(-10deg, #279870 50%, #2ba87c 50%);
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-greeting__title {
    font-size: 26px;
    font-weight: bold;
}

.modal-greeting__text {
    font-size: 20px;
}

.modal__route-link {
    width: 100%;
}

.modal-main--greeting .button{
    width: 100%;
    background-color: #2ba87c;
    border-radius: 0;
}

.modal-main--greeting .button:hover {
    background-color: #279870;
}

.modal-main--greeting .button:active {
    background-color: #1b654b;
}

.modal__img-wrapper {
    width: 100px;
    height: 100px;
    background: url(../../assets/img/checked.svg) center center no-repeat;
    background-size: cover;
    margin: 30px 0;
}

/*BOOK FORM STYLES*/
.modal-main--booking {
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    width: 90%;
    max-width: 1200px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.modal-booking__destination {
    font-size: 26px;
    font-weight: bold;
}
.modal-booking {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll;
}

.modal-booking__info {
    width: 100%;
    max-width: 600px;
    font-size: 20px;
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: 1px solid #306d86;
}

.modal-booking__seats-scheme {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

.seats-scheme__title {
    font-size: 26px;
    font-weight: bold;
    border-bottom: 1px solid #306d86;
    align-self: center;
}

.seats-scheme__wrapper {
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: center;
    margin: 10px 0 20px 0;
}

.seats-scheme {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seats-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.row-name {
    font-size: 22px;
    font-weight: bold;
}

.seats-row {
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seats-row:last-of-type {
    margin-right: 0;
}

.modal-booking__luggage {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.luggage-presence {
    display: flex;
    align-items: baseline;
}

.luggage-presence--num {
    display: none;
}

.luggage-presence--shown {
    display: flex;
}

.luggage-presence__question {
    font-size: 16px;
    font-weight: bold;
    margin-right: 20px;
}

.luggage-presence__answer {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
    cursor: pointer;
}

.luggage-presence__answer-text {
    margin-left: 10px;
    font-weight: bold;
}

.luggage-presence__answer-input {
    margin: 0;
    width:25px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,.7);
}

.modal__route-link--booking {
    width: auto;
}

.modal__close-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 0;
    border: 2px solid #306d86;
    background-color: #fff;
    position: absolute;
    top: -10px;
    right: -10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .2s  background-color linear;
}

.close-btn__icon-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.modal__close-btn::before {
    content: '';
    display: block;
	width: 20px;
	height: 2px;
    background-color: #306d86;
    position: absolute;
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    transition: .2s  background-color linear;
}

.modal__close-btn::after {
    content: '';
    display: block;
	width: 20px;
	height: 2px;
    background-color: #306d86;
    position: absolute;
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: .2s  background-color linear;
}

.modal__close-btn:hover {
    background-color: #306d86;
    transition: .2s  background-color linear;
}

.modal__close-btn:hover:after,
.modal__close-btn:hover:before {
    background-color: #fff;
    transition: .2s  background-color linear;
}

.seats-scheme__legend {
    width: 100%;
    max-width: 300px;
    min-width: 270px;
    display: flex;
    justify-content: space-between;
}

.legend-item__icon {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    margin-right: 5px;
}

.legend-item__icon--available {
    background-color: #10c2fd;
}

.legend-item__icon--not-available {
    background-color: #b0e8f9;
}

.legend-item__icon--booked {
    background-color: #306d86;
}

.legend-item {
    display: flex;
    align-items: center;
}

.legend-item__caption {
    font-size: 14px;
    font-weight: bold;
}

.seats-scheme__caption {
    width: 100%;
    max-width: 300px;
    font-size: 22px;
    color: #000;
    font-weight: bold;
    border-bottom: 1px solid #306d86;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 660px) {
    .modal-main--booking {
        padding: 30px 5px;
    }
    
    /* BOOK FORM STYLES */
    .modal-booking__info{
        font-size: 16px;
    }
}

@media screen and (max-width: 425px) {
/*REGISTRATION FORM STYLES*/
    .modal-greeting__text {
        font-size: 16px;
    }

    .modal-greeting {
        padding: 20px 10px;
    }

/* BOOK FORM STYLES */
    .luggage-presence {
        flex-direction: column;
    }

    .luggage-presence__answer {
        margin-top: 10px;
        padding: 0 5px;
    }
    
    .modal-booking__info { 
        flex-direction: column;
        align-items: center;
    }

    .legend-item__icon {
        width: 10px;
        height: 10px;
    }

    .seats-scheme__title {
        font-size: 22px;
    }

    .seats-scheme__caption {
        font-size: 18px;
    }
}