*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: url(./assets/img/1.jpg) center center no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2 {
  font-size: 30px;
}

.default-input {
  padding: 10px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 10px  rgba(0,0,0,.7);
  margin-bottom: 10px;
}

.default-input--invalid {
  box-shadow: 0 0 20px #f30b0b;
}

.default-select {
  padding: 10px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 10px  rgba(0,0,0,.7);
}

.button {
  border: none;
  border-radius: 20px;
  background-color: #f30b0b ;
  color: #fff;
  text-transform: uppercase;
  width: 200px;
  padding: 10px;
  cursor: pointer;
  transition: all .2s linear;
}

.button--search-form-send  {
  width: 100%;
}

.button--user-account-header-btn  {
  width: auto;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0;
  font-size: 18px;
}

.button--registration-form-btn{
  margin-top: 40px;
}

.button:hover {
  transition: all .2s linear;
  background-color: #b50202;
}

.button:active {
  background-color: #864848;
}


.button--user-account-header-btn:hover {
  background-color: transparent;
  color: rgba(0,0,0,.3);
}

.form-link{
  color: #fff;
  text-decoration: none;
}

.form-link:hover {
  color: #f30b0b;
}

@media screen and (max-width: 660px) {
  .button--flight-info-btn {
    width: 110px;
  }
}

@media screen and (max-width: 425px) {
  .form-link {
      font-size: 14px;
  }

  .button--user-account-header-btn {
    font-size: 14px;
  }

  .button {
    font-size: 12px;
  }

  .button--flights__btn {
    width: 200px;
  }
}