*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background: url(./assets/img/5.jpg) center center no-repeat;
  background-size: cover;
}

h2 {
  font-size: 40px;
}

.default-input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 10px  rgba(0,0,0,.7);
  margin-bottom: 10px;
  font-size: 18px;
}

.default-input--invalid {
  box-shadow: 0 0 10px #f30b0b;
  border: 1px solid #f30b0b;
}

.default-select {
  padding: 10px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 10px  rgba(0,0,0,.7);
}

.default-input--people-counter {
  width: 35px;
  height: 35px;
  text-align: center;
}

.button {
  border: none;
  border-radius: 20px;
  background-color: #63a8c5 ;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  width: 200px;
  height: 40px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  transition: all .2s linear;
}

.button--auth-form-btn {
  margin-top: 40px;
}

.button--search-form-send  {
  width: 100%;
}

.button--account-header-btn  {
  width: auto;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0;
  font-size: 18px;
}

.button--registration-form-btn{
  margin-top: 40px;
}

.button--intro-btn {
  width: 300px;
  background: url(../src//assets/img/plane.svg) 95% 50% no-repeat #63a8c5;
  background-size: 25px;
}

.button--notification-link {
  text-decoration: none;
  width: 100%;
  max-width: 300px;
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  transition: all .2s linear;
  background-color: #16adec;
}

.button:active {
  background-color: #0d658a;
}

.button--account-header-btn:hover {
  background-color: transparent;
  color: rgba(0,0,0,.3);
}

.button--order-list-item {
    width: auto;
    text-transform: lowercase;
    color: #000;
    padding: 0;
    font-size: 16px;
    background: none;
}

.button--order-list-item:hover { 
  color: #000;
  background: none;
}

.button--order-list-item:active { 
  color: #000;
  background: none;
}

.button--people-counter {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.button--success-back-btn {
  margin: 0 20px 0 0;
}

.form-link{
  color: #264861;
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
  transition: color .2s linear;
}

.form-link:hover {
  color: #fff;
  transition: color .2s linear;
}

.loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

::-webkit-scrollbar { /* скроллбар */
  width: 4px;
  background-color: transparent;
}

::-webkit-scrollbar-button { /* кнопка */
  height: 100%;
  background-color:rgba(0,0,0,.1);
}

::-webkit-scrollbar-track-piece { /* видимая часть трека */ 
  background-color: rgba(0,0,0,.1);
}

::-webkit-scrollbar-thumb { /* ползунок */
  background-color: rgba(255, 255, 255, 0.3);
}

.people-counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 140px;
}

@media screen and (max-width: 660px) {
  h2 {
    font-size: 30px;
  }

  .button--flight-info-btn {
    width: 110px;
  }

  .default-input {
    font-size: 16px;
  }

  .form-link {
    font-size: 16px;
  }

  .button--success-back-btn {
    margin: 0 0 10px 0;
  }
}

@media screen and (max-width: 425px) {
  .form-link {
      font-size: 14px;
  }

  .button--account-header-btn {
    font-size: 14px;
  }

  .button {
    font-size: 12px;
  }

  .button--flights__btn {
    width: 200px;
  }

  .button--notification-link {
    font-size: 14px;
  }
}